.App {
  text-align: left;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}
.navbar {
  position: fixed;
  top: 0;
  left: 5;
  width: 100%;
  
}

.App-header {
  background-color: #777a80;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 1vmin);
  color: rgb(253, 244, 244);
}

.App-link {
  color: #1a1b1c;
}


.small {
  font-size: 0.75rem;
}

